
    <div class="">
       <footer class="row" style="background-color:#F8E0F7; color">

            <div class="col-md-4">
                <h4><b>HappyLand School</b></h4>
                <p>Welcome to Happyschool,</p>
                <p>Where vision meets experts</p>
            </div>

            <div class="col-md-4">
                <h3><b>Contacts</b></h3>
                <p>You can react out via our social media</p>
                <p>www.facebook.com <br> <i>www.happyschool.co.ke</i></p>
                <p>We are located at the outskirts of Namanga City</p>
            </div>

            <div class="col-md-4">
                <h3><b>Newsletter</b></h3>
                <p>Please subscribe to our newsletter to recieve daily/weekly alerts</p>
            </div>


    </footer>
    </div>
