<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy School</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/boot.js"></script>
    <script type="text/javascript" src="js/popper.js"></script>
</head>
<body>
    <div class="">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top bg-dark">
             <a class="navbar-brand" href="#">HappyLand School</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Registration <span class="sr-only"></span></a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                      </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/Calculation">Calculation</a>
                   </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/Students">Students</a>
                   </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/check_out">Check Out</a>
                   </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/search">Search visitors</a>
                   </li>
<!--                    <li class="nav-item">-->
<!--                    <a class="nav-link" href="/regout">Unregister</a>-->
<!--                   </li>-->
                </ul>
            </div>
                <div>
                   <li class="nav-item">
                    <a class="nav-link" href="/logout">Log Out</a>
                   </li>
                </div>
                <form class="form-inline mt-4 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </nav>
        </div>
    </div>
    <hr>
    <section class="">
        <h1 class="jumbotron text-center">HappyLand School</h1>
    </section>
    <div class="alert alert-danger">
        {{ msg }}
    </div>
</body>
</html>